@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Serif 4", serif;
    /* font-family: "Dancing Script", cursive; */
    
}
:root{
    --bg-black-900:rgb(2, 2, 2);
    --text-black-900:rgb(246, 207, 13);
    --text-black-90: #d4d2d2;
    --text-black-10:gray;

}
body{
    width:100%;
    padding: 0;
    margin: 0;
    background:var(--bg-black-900);
    overflow-x: hidden;
    text-decoration: none;
    
  }
  h1{
    font-family: "Dancing Script", cursive;
    color:var(--text-black-900);
    font-size: 46px;
    
  }
  .padd-15{
    padding-left: 15px;
    padding-right: 15px;
  }
  .section{
    min-height:100vh;
    width:100%;
    display: block;
  }
  .container{
    width:100%;
    max-width:1200px;
    margin:auto;
  }
  .nav-bar{
    width: 100%;
    height:50px;
    background:var(--bg-black-900);
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right:-15px;  
    position:fixed;
    top:0;
    overflow: hidden;
    z-index:100;
  
  }
  .heading{
    flex:0 0 15%;
    max-width: 15%;

  }
  .heading h2{
    color:var(--text-black-90);
    font-size: 22px;
    text-align: center;
    padding: 9px 0;
    font-family: "Dancing Script", cursive;
    margin-right: 30px;
    
    
  }
  .nav-list{
    flex:0 0 35%;
    max-width:35%;
    margin: 0 155px;
    /* font-family: "Roboto", sans-serif; */

  }
  .nav-list ul {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    list-style: none;
    padding: 16px 0;
    font-size: 12px;
    font-weight: 400;
  }
  .nav-list ul li a{
    text-decoration: none;
    color: var(--text-black-90);
    
  }
.login{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 90px;
    
}
.login h1{
    color: var(--text-black-90);
    font-size: 24px;
    font-weight: 400;
    padding: 0 8px;
}
.login h3{
    color: var(--text-black-90);
    padding: 16px 0;
    font-size: 12px;
    font-weight: 400;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right:-15px;
}
.home-content{
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
    margin-bottom: 90px;
    padding: 50px 20px;
    
    
}
.content{
    flex: 0 0 40%;
    max-width: 40%;
    color: var(--text-black-90);
    padding: 50px 20px;
     
    
    
    
}
.icon{
  display: flex;
}
 .icon h5{
  
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 12px;
  margin-bottom: 50px;
}
 .icon .fa{
  font-size: 8px;
  color:var(--text-black-90);

}
.content h1{
  color:var(--text-black-900);
  font-size: 46px;
  font-family: "Dancing Script", cursive;
  margin-bottom: 30px;
}
.content p{
  /* font-family: "Roboto", sans-serif; */
  font-size: 12px;
  margin-bottom: 10px;
}
.Btn{
  width:10vw;
  height: 6vh;
  border: none;
  border-radius: 5px;
  background:var(--text-black-90);
  padding: 12px 15px;
  color:black;
  margin-top: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
  text-decoration: none;
  font-size: 12px;
  transition: all 0.3s ease;
}
.Btn:hover {
  transform: scale(1.05);
}
.ImgBx{
    flex:0 0 40%;
    max-width: 40%;
    
}
.ImgBx img{
    height:100%;
    width:100%;
    background-blend-mode: multiply;
    object-fit: cover;
    border-radius: 5%;
}
 .ImgBx img{
--s: 80px; /* the size on the corner */
  
  padding: 10px; /* the gap between the border and image */
  border: 5px solid #efbc05;  
  -webkit-mask:
    conic-gradient(at var(--s) var(--s),#0000 25%,#000 0)
    0 0/calc(100% - var(--s)) calc(100% - var(--s)) ,
    linear-gradient(#000 0 0) content-box;
}
/* About */
.about{
  /* background: fuchsia; */
  align-items: center;
}
.about-text{
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us{
  flex:0 0 40%;
  max-width: 40%;
  padding:15px;
  color:var(--text-black-90);
  /* background: darkgreen; */
  text-align: right;
  padding-left: 100px;
}
.about-us h1{
  color:var(--text-black-900);
  font-size: 46px;
  font-family: "Dancing Script", cursive;
  
  
}
.about-us span,.history span{
  color:var(--text-black-900);
  font-family: "Dancing Script", cursive;
}
.about-us .Btn{
 margin-left: 240px;
}
.middle-spoon {
  flex:0 0 20%;
  max-width: 20%;
  text-align: center;
}
.middle-spoon img{
  height: 100%;
  width: 100%;
  border-radius: 5%;
  --s: 80px; /* the size on the corner */
  
  padding: 10px; /* the gap between the border and image */
  border: 5px solid #efbc05;  
  -webkit-mask:
    conic-gradient(at var(--s) var(--s),#0000 35%,#000 0)
    0 0/calc(100% - var(--s)) calc(100% - var(--s)) ,
    linear-gradient(#000 0 0) content-box;
}
.history{
  flex:0 0 40%;
  max-width: 40%;
  padding:15px;
  color:var(--text-black-90);
  /* background: rgb(138, 42, 3); */
  text-align: left;
  padding-right: 100px;
}
.history h1{
  color:var(--text-black-900);
  font-size: 46px;
  font-family: "Dancing Script", cursive;
  
}
 .about-us p,.history p{
  font-size: 12px;
  margin-bottom: 15px;
  color: var(--text-black-90);
  font-weight: 100;
 
 }
 /* menu */
 .title{
  display: flex;
  justify-content: center;
  color: var(--text-black-90);
 }
.title h5{
  text-align: center;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 12px;
  margin-bottom: 25px;
  color: var(--text-black-90);
}

#menu h1{
  text-align: center;
  margin-bottom: 40px;
}

.menu-lists {
  display: flex;
  color: var(--text-black-90);
}

.menu-section{
  height:max-content;
  flex:0 0 35%;
  max-width: 35%;
  color:var(--text-black-90); 
  /* background:green ; */
}

.menu-section {
  padding: 20px;
  margin-top: 30px;
}
.menu-section h2{
  font-family: "Dancing Script", cursive;
  color: var(--text-black-90);
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
  
}

.menu-section h3 {
  margin-bottom: 15px ;
 
}

.menu-section ul {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.menu-section li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}
.menu-section p{
  font-size: 10px;
  margin-bottom: 20px;
}


.menu-item {
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 4px;
}

.menu-price {
  font-style: italic;
  font-size: 12px;
}

.cocktail{

  flex:0 0 30%;
  max-width: 30%;
  text-align: center;
}
.cocktail img{
  height: 90%;
  width: 100%;
  border-radius: 5%;
  --s: 80px; /* the size on the corner */
  
  padding: 10px; /* the gap between the border and image */
  border: 5px solid #efbc05;  
  -webkit-mask:
    conic-gradient(at var(--s) var(--s),#0000 35%,#000 0)
    0 0/calc(100% - var(--s)) calc(100% - var(--s)) ,
    linear-gradient(#000 0 0) content-box;
}
.cocktail .Btn{
  margin-left: 100px;
}
/* chef */
.belief{
  height:100vh;
  margin-top: 150px;
 
}
.chef{
  flex:0 0 40%;
  max-width: 40%;
  /* margin-left: 20px; */

}
.chef img{
  height: 100%;
  width: 100%;
  border-radius: 5%;
  --s: 80px; /* the size on the corner */
  
  padding: 10px; /* the gap between the border and image */
  border: 5px solid #efbc05;  
  -webkit-mask:
    conic-gradient(at var(--s) var(--s),#0000 35%,#000 0)
    0 0/calc(100% - var(--s)) calc(100% - var(--s)) ,
    linear-gradient(#000 0 0) content-box;
}
.context{
  display: flex;
  justify-content: center;

}
.chef-word{
  display: flex;
}
.chef-word h5{
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 12px;
  margin-bottom: 50px;
  color: var(--text-black-90);
}
.chef-word i {
  color:var(--text-black-90);
}
.chef-context{
  flex: 0 0 40%;
  max-width: 40%;
  margin-left: 40px;
}
.chef-context h1{
  margin-bottom: 30px;
}
.chef-context i {
  color:var(--text-black-90);
  font-size: 15px;
  padding-right: 6px;
}
.quote{
  display: flex;
}
.quote p{
  color:var(--text-black-90);
  white-space: pre-line;
  font-size: 12px;
}
/* contact */

.contact .context{
  display: flex;
  justify-content:center;

}

.contact .left{
  flex:0 0 40%;
  max-width: 40%;
  padding: 12px;

}
.contact h5{
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 12px;
  margin-bottom: 50px;
  color: var(--text-black-90);
}
.contact h1{
  margin: 30px 0;
}
.contact p{
  font-size: 10px;
  color: var(--text-black-90);
}
.contact h3{
  font-family:"Dancing Script", cursive;
}

.contact .right{
  flex:0 0 40%;
  max-width: 50%;
}
.contact .right img{
  height:100%;
  width:100%;
  border-radius: 5%;
  --s: 80px; /* the size on the corner */
  
  padding: 10px; /* the gap between the border and image */
  border: 5px solid #efbc05;  
  -webkit-mask:
  conic-gradient(at var(--s) var(--s),#0000 35%,#000 0)
  0 0/calc(100% - var(--s)) calc(100% - var(--s)) ,
  linear-gradient(#000 0 0) content-box;
}
/* newsletter */
.news-letter{
  text-align: center;
  width: 100%;
 margin-top: 100px;
}
.news-letter .content {
  flex:0 0 60%;
  max-width: 50%;
  position: relative;
  left: 25%;
  text-align: center;
  border: 1px solid var(--text-black-90);
  border-radius: 2px;
}


.news-letter h5{
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 12px;
  margin-bottom: 5px;
  color: var(--text-black-90);
}
.news-letter .content .form-control  {
  width:250px;
  color: var(--text-black-90);
  background: transparent;
  padding: 8px 16px;
  border-radius: 2px;
  margin-top: 20px;
  transition: all 0.3s ease;
  border: 1px solid var(--text-black-90);

}
.news-letter .content .submit {
  color: var(--text-black-90);
  background:var(--text-black-90);
  padding: 6px 16px;
  margin: 0 15px;
  color: var(--text-black-10);
  font-size: 16px;
  border-radius: 2px;
  transition: all 0.3s ease;
  border: 1px solid var(--text-black-90);

}
.box{
  width: 100%;
  display: flex;
  margin-bottom: 50px;
  justify-content:space-around;
  align-items: center;
}
.box p{
  font-size: 10px;
  color: var(--text-black-90);
}
.box h3{
  color: var(--text-black-90);
  font-family:"Dancing Script", cursive;
  font-size: 16px;
  text-align: center;
  margin: 20px 0;

}
.contact-us,.resrestaurant-info .working-hours{
  flex: 0 0 15%;
  min-width: 15%;
  text-align: center;
}
/* .restaurant-info{
  background: mediumorchid;
} */
.restaurant-info span{
  color:var(--text-black-90);
  font-size: 12px;
  transition: all 0.3s ease;
  margin:20px 130px;
  
}
.news-letter p{
  margin: 5px;
  font-size: 10px;
  color: var(--text-black-90);
  text-align: center;
}
h6{
  flex: 0 0 100%;
  max-width: 100%;
  margin: 10px;
  font-size: 10px;
  font-family:  "Source Serif 4", serif;
  color: var(--text-black-90);
  text-align: center;
 
}
@media  (max-width:1199px) {
  .nav-bar{
    flex:0 0 100%;
    max-width: 100%;
  }
}




